head .portada img {
  background: url(portadaJardin.png); }

body {
  margin: 0;
  font-family: "Fredoka"; }

header {
  width: 100%;
  background: #EFA526; }
  header #btn-menu {
    display: none; }
  header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px #E75D44; }
    header label:hover {
      cursor: pointer;
      background: #9A8B6F; }

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex; }
  .menu ul li {
    border-bottom: #E75D44; }
    .menu ul li:hover {
      background: #9A8B6F; }
    .menu ul li a {
      display: block;
      padding: 15px 20px;
      color: #fff;
      text-decoration: none; }

main {
  padding: 20px;
  font-family: "Fredoka";
  color: black;
  text-align: left; }
  main h1 {
    font-size: large; }
    main h1 p {
      font-size: small; }

@media (max-width: 768px) {
  header label {
    display: block; }
  header .menu {
    position: absolute;
    background: #EFA526;
    width: 70%;
    margin-left: -70%; }
    header .menu ul {
      flex-direction: column; }
      header .menu ul li {
        border-top: #9A8B6F; }
  #btn-menu:checked ~ .menu {
    margin: 0; } }

body .gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px; }

body .gallery__item {
  position: relative; }

body .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

body .gallery__tittle {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: linear-gradient(rgba 255, 255, 255, 0, black);
  width: 100%;
  margin: 0;
  padding: 10px; }

body .gallery__item :nth-child(4) {
  grid-column-start: span 2; }

body .gallery__item :nth-child(5) {
  grid-row-start: span 2; }

body .gallery__item :nth-child(9) {
  grid-column-start: span 2; }

footer .piedePagina img {
  width: 30%; }
