$colores:(
color-marigold:#EFA526;
color-fireOpal:#E75D44;
color-blueYonder:#4A77A9;
color-white:#fff;
color-grullo:#9A8B6F;
);

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

head {
    .portada {
        img {
            max-width:100%;
            @include size(675px ,100% );
        }
    }
}

body {
    margin: 0;
    font-family: 'fredoka';
}

header {
        width: 100%;
        background:map-get($colores, color-marigold);
        #btn-menu {
            display: none;
        }

        label{
            display: none;
            width: 30px;
            height: 30px;
            padding: 10px;
            border-right: 1px map-get($colores, color-fireOpal);
            &:hover {
                cursor: pointer;
                background: map-get($colores, color-grullo);
            }
        }
    }

.menu {
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        li {
            border-bottom: map-get($colores,color-fireOpal);
            &:hover {
                background: map-get($colores,color-grullo);
            }
        a {
                display: block;
                padding: 15px 20px;
                color: map-get($colores,color-white);
                text-decoration: none;

            }
        }
    }
}

main {
    padding: 20px;
    font-family: 'fredoka';
    color: black;
    text-align: left;
    h1 {
        font-size: large;
        p {
            font-size: small;
        }
    }
    }

@media (max-width:768px) {
    header{
        label {
            display: block;
        }
      .menu {
                position: absolute;
                background: map-get($colores, color-marigold);
                width: 70%;
                margin-left: -70%;
            ul {
                    flex-direction: column;
                    li {
                        border-top: map-get($colores,color-grullo);
                    }
                }
            }
        }
    
    #btn-menu {
        &:checked {
            ~ .menu {
                margin: 0;
            }
        }
    }
}



footer {
    .piedePagina {
        img {
            width: 30%;
        }
    } 
}