@font-face {
            font-family: 'Fredoka';
            src: url('../Fredoka-VariableFont_wdth\,wght.ttf');
            overflow-x: hidden;
        }

head{
    width: 100%;
}        
.portada img {
    width:100% ;
}
body {
    margin: 0;
    font-family: fredoka;
}

header {
    width: 100%;
    background: #efa526;
}

#btn-menu {
    display:none
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border right: 1px #e75d44;
}    

header label :hover {
    cursor: pointer;
    background: rgba(154,139,111);
}


.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;  
}

.menu li {
    text-align: center;
    flex: grow 1;
}

.menu li :hover {
    background: rgba(154,139,111);

}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff
    text-decoration: none;
}



@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu {
        position:absolute;
        background: #efa526;
        width: 70%;
        margin-left: -70%;
        transition:all 0.5s ;
    }
    .menu ul {
        flex-direction: column;
        border-top: 1px #efa526;
    }
    .btn-menu:checked ~ .menu {
        margin: 0;

    }
}

h1, h2 ,p ,dl, dd {
            font-family:fredoka;
}
#lactantes {
    color: black;
    text-align: left;
    font-family:fredoka;
}
#deambuladores {
    color: black;
    text-align: left;
    font-family:fredoka;
}
#sala_de_2_años {
    color: black;
    text-align: left;
    font-family:fredoka;
}
#sala3y4años {
    color: black;
    text-align: left;
    font-family:fredoka;
}

.piedePagina img {
    width: 30%;
}